<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="logfile"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>./logs/demo-camunda8.log</file>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>./logs/demoCamunda8.%d{yyyy-MM-dd}.log
			</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss:SSS} %5p %t %c{2}:%L - %m%n</pattern>
		</encoder>
	</appender>
	<root level="INFO">
		<appender-ref ref="logfile" />
	</root>
	<logger name="io.vertx" level="ERROR" />
</configuration>